body{
    text-align: center;
    background-image:url(https://images.unsplash.com/photo-1699607031533-0c797fd6696a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h1, p, figcaption{
    text-align: center;
    width: 80%;
}
.roberta{
    height: 300px;
    width: 250px;
    border-radius: 20%;
    text-align: center;
}
.autob{
text-align: left;

}
h3, ul{
    text-align: left;
}
.carreira{
    text-align: left;
}
.fonte{
    text-align: right;
}